.idea
.idea_modules
/target

.ensime
/lib/*
.cache
.ensime_lucene
.classpath
.project

TAGS
debug
lib_managed
*.el

# sbt specific
.cache/
.history/
.lib/
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

/results
/cache
/experiments
